<form action="" method="post">
	<div>today's Question</div>
	<textarea id="Question" name="question" cols="" rows=""></textarea>
	<div>today's comment</div>
	<textarea name="content" cols="" rows=""></textarea>

	<input type="hidden" name="user_id" value=user_id>
	<input type="submit" value="submit">
</form>


//<form action="" method="post">
//	<div id="text_editor">
//		<p id="title">일<br>간<br><br>생<br>각</p>
//		<span id="fixer_label">fix it</span>
//		<input id="fixer" type="checkbox">
//		<input id="saver" type="submit" value="save">
//
//		<p id="inner_title">일간 생각</p>
//		<div id="Question_label">today's Question</div>
//		<textarea id="Question" name="daily_diary_Question" cols="37" rows="2"></textarea>
//		<div id="comment_label">today's comment</div>
//		<textarea id="comment" name="daily_diary_comment" cols="37" rows="10"></textarea>
//
//		<input type="hidden" name="user_id" value=${user_id}>
//		<div id="text_editor_fold">접기</div>
//	</div>
//</form>
//




//         fixer
//         auto_temperal_saver
//         submit
//         
//         open&close
//         
