<div id="catch_1">
휴대폰은 주머니에 넣고, 빈 손으로 걷는다.
</div>
<div id="catch_2">
</div>
<br>
<div id="catch_3">
깊은 심심함,
</div>
<div>
그것은 경험의 알을 품은 꿈의 새다.
 </div>

<style>
#catch_1 {
margin-top: 4%;
margin-bottom: 3%;
}
#catch_2 {
margin-bottom: 3%;
}
#catch_3 {
margin-bottom: 3%;
}



</style>

