html, body {
	margin: 0;
}
#title {
	position: absolute;
	left: 35vw;
	top: 9vh;
	width: 30vw;
	height: 10vh;

	background-color: transparent;

	font-size: 40;
	text-align: center;
}

#background {
	position: absolute;
	left: 25vw;
	top: 2vh;
	width: 50vw;
	height: 96vh;

	background-color: rgba(89, 136, 107, 0.3);
	border-radius: 20px;
	z-index: -1;
}

#before {
	position: absolute;
	left: 15vw;
	top: 35vh;
	width: 10vw;
	height: 30vh;

	background-color: rgba(89, 136, 107, 0.4);
	font-size: 80px;
	text-align: center;
	cursor: pointer;
}
#before:hover {
	background-color: rgba(89, 136, 107, 1);
}

#next {
	position: absolute;
	right: 15vw;
	top: 35vh;
	width: 10vw;
	height: 30vh;

	background-color: rgba(89, 136, 107, 0.4);
	font-size: 80px;
	text-align: center;
	cursor: pointer;
}
#next:hover {
	background-color: rgba(89, 136, 107, 1);
}

#send_survey {
	position: absolute;
	left: 40vw;
	top: 85vh;
	width: 20vw;
	height: 10vh;

	background-color: transparent;
	z-index: 2;
	font-size: 40px;
	text-align: center;
}

.page {
	position: absolute;
	left: 30vw;
	top: 25vh;
	width: 50vw;
	height: 0;
}

.questions {
	margin-bottom: 5vh;
	font-size: 20px;
}


#answer1 {
	padding: 3vh 1vw 2vh 1vw;
	width: 40vw;
	height: 30vh;
	font-size: 20px;
}

.answer2 {
	font-size: 18px;
	background-color: transparent;
	width: 40vw; 
	height: 6vh;
	cursor: pointer;
	font-size: 25px;
}
.answer2:hover {
	background-color: white;
}

.answer3 {
	background-color: transparent;
	width: 40vw; 
	height: 6vh;
	cursor: pointer;
	font-size: 25px;
}
.answer3:hover {
	background-color: white;
}

#question4 {
	margin-top: 5vh;
}

#answer4 {
	width: 40vw;
	height: 15vh;
	font-size: 20px;
}

#answer5_srcA_label{
	margin-bottom: 1vh;
	font-size: 25px;
}
#answer5_srcB_label{
	margin-top: 5vh;
	margin-bottom: 1vh;
	font-size: 25px;
}
#answer5_src_hard{
	width: 30vw;
	height: 10vh;
	font-size: 20px;
}
#answer5_src_diffi{
	width: 30vw;
	height: 10vh;
	font-size: 20px;
}

.answer6 {
	background-color: transparent;
	width: 40vw; 
	height: 6vh;
	cursor: pointer;
	font-size: 25px;
}
.answer6:hover {
	background-color: white;
}

.answer7 {
	background-color: transparent;
	width: 40vw; 
	height: 6vh;
	cursor: pointer;
	font-size: 25px;
}
.answer7:hover {
	background-color: white;
}

.answer8 {
	background-color: transparent;
	width: 40vw; 
	height: 6vh;
	cursor: pointer;
	font-size: 25px;
}
.answer8:hover {
	background-color: white;
}
