html, body {
	margin: 0;
}
#title {
	position: absolute;
	left: 35vw;
	top: 9vh;
	width: 30vw;
	height: 10vh;

	background-color: transparent;

	font-size: 40;
	text-align: center;
}

#background {
	position: absolute;
	left: 25vw;
	top: 2vh;
	width: 50vw;
	height: 96vh;

	background-color: rgba(89, 136, 107, 0.3);
	border-radius: 20px;
	z-index: -1;
}

#before {
	position: absolute;
	left: 15vw;
	top: 35vh;
	width: 10vw;
	height: 30vh;

	background-color: rgba(89, 136, 107, 1);
}

#next {
	position: absolute;
	right: 15vw;
	top: 35vh;
	width: 10vw;
	height: 30vh;

	background-color: rgba(89, 136, 107, 1);
}

#send_survey {
	position: absolute;
	left: 50vw;
	top: 80vh;
	width: 23vw;
	height: 15vh;

	background-color: yellow;
	z-index: 2;
}

.page {
	position: absolute;
	left: 30vw;
	top: 20vh;
	width: 50vw;
	height: 0;
}

.questions {
	margin-bottom: 5vh;
	font-size: 20px;
}


#answer1 {
	padding: 3vh 1vw 2vh 1vw;
	width: 40vw;
	height: 30vh;
	font-size: 20px;
}
