@font-face {
	font-family: 'system';
	src: url('./fonts/IBMPlexSansKR-Text.ttf');
}
@font-face {
	font-family: 'general';
	src: url('./fonts/SDMiSaeng.ttf');
}
@font-face {
	font-family: 'catchphrase';
	src: url('./fonts/Eulyoo1945-Regular.ttf');
}
@font-face {
    font-family: 'logo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSSummer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

pre {
	font-family: general;
}

textarea {
	resize: none;
}

#drag_drop_section {
	width: 90%;
	height: 98%;
	background-color: transparent;
	z-index: 100;
}

#logo {
	font-family: 'logo';
	font-size: 30px;
	text-decoration: overline;
	position: absolute;
	left: 91%;
	top: 90%;
}

#logout_button {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94%;
	top: 5%;
	background-color: transparent;
	border: solid 1px #59886B;
	border-radius: 20px;
	font-size: 15px;
	color: #59886B;
	cursor: pointer;
}


#search_input {
	width: 9%;
	height: 4%;
	position: absolute;
	left: 90%;
	top: 18%;
	background-color: transparent;
	border: solid 2px #59886B;
	border-radius: 20px;
	font-size: 18px;
	padding-left: 0.4%;
}
#search_button {
	width: 3%;
	height: 4%;
	position: absolute;
	left: 96%;
	top: 18%;
	background-color: #59886B;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: white;
	cursor: not-allowed;
}

#move_date_field {
	width: 9%;
	height: 4%;
	position: absolute;
	left: 90%;
	top: 23%;
	background-color: transparent;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: #59886B;
}
#move_date_button {
	width: 3%;
	height: 4%;
	position: absolute;
	left: 96%;
	top: 23%;
	background-color: #59886B;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: white;
	cursor: not-allowed;
}

#keyboard_shortcut_help {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94.2%;
	top: 42%;
	background-color: transparent;
	border: none;
	font-size: 15px;
	color: #59886B;
	text-decoration: underline;
}
#keyboard_shortcut_help_result {
	z-index: 9999;
	position: absolute;
	left: 10%;
	top: 10vh;
	width: 70%;
	height: 80vh;
	background-color: green;
	color: white;
	font-size: 40px;
	text-align: center;
	display: none;
}

#go_home {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94%;
	top: 37%;
	background-color: #59886B;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: white;
	cursor: pointer;
}


.remote_con {
	position: absolute;
	width: 3%;
	height: 5%;
	background-color: rgba(89, 136, 107, 0.9);
	border: none;
	border-radius: 10px;
	box-shadow: 2px 2px 2px purple;
	z-index: 1;
	font-size: 20px;
	color: white;
	cursor: pointer;
}
.remote_con:active {
	margin-top: 2px;
	margin-left: 2px;
	box-shadow: none;
}
#move_up {
	top: 61%;
	left: 92%;
}
#move_down {
	top: 73%;
	left: 92%;
}
#move_left {
	top: 67%;
	left: 88.5%;
}
#move_right {
	top: 67%;
	left: 95.5%;
}

#today_button {
	top: 67%;
	left: 92%;
}



.R-note {
	font-family: 'general';
	font-size: 30px;
	position: absolute;
	left: 25%;
	width: 50%;
	height: 28%;
	background-color: rgba(89, 136, 107, 0.3);
	box-shadow: 5px 5px 10px #59886B;
	transition: 0.1s;
	cursor: pointer;
	overflow: auto;
	overflow-x: hidden;
}
.R-note:active {
	margin-left: 5px;
	margin-top: 5px;
	box-shadow: none;

}


#R2 {
	top: 5%;
}
#R3 {
	top: 36%;
}
#R4 {
	top: 67%;
}

.date {
	padding-top: 5%;
	text-align: center;
	color: grey;
}
.question {
	padding: 4% 5% 3% 5%;
	white-space: pre-wrap;
	overflow: auto;
	overflow-x: hidden;
	text-shadow: 1px 1px 10px green;
}
.content {
	padding: 0% 4% 4% 4%;
	white-space: pre-wrap;
}


#writing_board_wrapper {
	position: absolute;
	/*
	 * top, left properties set by js [writing_diary.js]
	 * */

	left: 25%;
	width: 56%;
	height: 28%;
	display: none;
	grid-template-columns: 9fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;

	
}



#start_writing_button {
	grid-column: 1/2;
	grid-row: 1/5;

	font-family: 'general';
	font-size: 70px;
	background-color: transparent;
	border: 8px dashed #59886B;
	color: #59886B;
	cursor: pointer;

	display: none;
}
#start_writing_button:hover {
	background-color: #59886B;
	font-size: 80px;
	border: none;
	border-radius: 20px;
	color: white;
	transform: scale(1.04, 1.04);
	transition: 0.5s;
}

#writing_board_background {
	grid-column: 1/2;
	grid-row: 1/5;

	background-color: #59886B;
	opacity: 0.2;
	z-index: -2;

	display: none;
}
#daily_diary {
	grid-column: 1/2;
	grid-row: 1/5;

}

#paragraph_title {
	margin-top: 1%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%; 
	height: 22%;

	font-size: 18px;
	background-color: transparent;
	border: none;
	outline: none;

	display: none;
}
#paragraph_content {
	margin-top: 3%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%; 
	height: 70%;

	font-size: 18px;
	background-color: transparent;
	border: none;
	outline: none;
	
	display: none;
}




#enlarge_button {
	margin-left: 15%;
	grid-column: 2/3;
	grid-row: 1/2;

	height: 80%;
	background-color: transparent;
	border: solid 1px #59886B;
	border-radius: 20px;
	font-size: 15px;
	color: #59886B;
	
	display: none;
}
#enlarge_button:hover {
	background-color: #59886B;
	border: none;
	color: white;
	font-size: 25px;
}
#post_diary_button {
	margin-left: 15%;
	grid-column: 2/3;
	grid-row: 2/3;

	height: 80%;
	background-color: transparent;
	border: solid 1px #59886B;
	border-radius: 20px;
	font-size: 15px;
	color: #59886B;

	display: none;
}
#post_diary_button:hover {
	background-color: #59886B;
	border: none;
	color: white;
}

#cancel_button {
	margin-left: 15%;
	grid-column: 2/3;
	grid-row: 3/4;

	height: 80%;
	background-color: transparent;
	border: solid 1px #FF7777;
	border-radius: 20px;
	font-size: 15px;
	color: #FF7777;

	display: none;
}
#cancel_button:hover {
	background-color: #FF7777;
	border: none;
	color: white;
}

#enlarged_decrease_button {
	position: absolute;
	left: 75%;
	top: 50%;
	width: 8%;
	height: 7%;
	background-color: transparent;
	border: solid 2px white;
	border-radius: 30px;
	font-size: 30px;
	color: white;
	z-index: 2;

	display: none;
}
#enlarged_decrease_button:hover {
	background-color: white;
	border: none;
	color: #59886B;
	transform: scale(0.8, 0.8);
}


#enlarged_writing_board_background {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #59886B;
}

#enlarged_paragraph_title {
	position: absolute;
	top: 67%;
	left: 20%;
	font-size: 30px;
	width: 45%;
	height: 10%;
	background-color: transparent;
	border: none;
	color: black;
	outline: none;
}
#enlarged_paragraph_title::placeholder {
	color: white;
	opacity: 0.7;
}
#enlarged_paragraph_content {
	position: absolute;
	top: 20%;
	left: 20%;
	font-size: 30px;
	width: 45%;
	height: 40%;
	background-color: transparent;
	border: none;
	color: black;
	outline: none;
}
#enlarged_paragraph_content::placeholder {
	color: white;
	opacity: 0.7;
}




#enlarged_post_diary_button {
	position: absolute;
	left: 75%;
	top: 58%;
	width: 8%;
	height: 7%;
	background-color: transparent;
	border: solid 2px white;
	border-radius: 30px;
	font-size: 30px;
	color: white;
	z-index: 2;
}
#enlarged_post_diary_button:hover {
	background-color: white;
	border: none;
	color: #59886B;
}

#enlarged_cancel_button {
	position: absolute;
	left: 75%;
	top: 66%;
	width: 8%;
	height: 7%;
	background-color: transparent;
	border: solid 2px #FF7777;
	border-radius: 30px;
	font-size: 30px;
	color: #FF7777;
	z-index: 2;
}
#enlarged_cancel_button:hover {
	background-color: #FF7777;
	border: none;
	color: white;
}

