body {
	margin: 0;
	padding: 0;
}

#window {
	display: grid;
	grid-template-columns: 45% 45% 10%;
	grid-template-rows: 25vh 25vh 25vh 25vh;
	user-select: none;
}

#navigate_button {
	grid-column: 3/4;
	grid-row: 1/3;
}
.navigate_button {
	background-color: white;
	margin-top: 2vh;
	margin-left: 10%;
	margin-right: 10%;
	height: 5vh;
	text-align: center;
}

#keyboard_shortcut_help {
	grid-column: 3/4;
	grid-row: 3/4;
	background-color: green;
	margin-left: 10%;
	margin-right: 10%;
	height: 5vh;
	text-align: center;
}

#daily_button {
	grid-column: 3/4;
	grid-row: 3/4;
	background-color: red;
	margin-top: 10vh;
	margin-left: 10%;
	margin-right: 10%;
	height: 5vh;
	text-align: center;
}

#keyboard_shortcut_help_result {
	z-index: 9999;
	position: absolute;
	left: 10%;
	top: 10vh;
	width: 70%;
	height: 80vh;
	background-color: green;
	color: white;
	font-size: 40px;
	text-align: center;
	display: none;
}

.note_sign {
	margin: 3%;
	height: 6vh;
}
.note_board {
	margin: 3%;
	height: 60vh;
}
#L1_sign {
	grid-column: 1/2;
	grid-row: 1/3;
	background-color: yellow;
	margin-top: 3vh;
}
#L1_board {
	grid-column: 1/2;
	grid-row: 2/5;
	background-color: #FFC85C;
	margin-top: 10vh;
}
#L2_sign {
	grid-column: 1/2;
	grid-row: 1/3;
	background-color: blue;
	margin-top: 10vh;
}
#L2_board {
	grid-column: 1/2;
	grid-row: 2/5;
	background-color: #FFC85C;
	margin-top: 10vh;
}
#L3_sign {
	grid-column: 1/2;
	grid-row: 1/3;
	background-color: yellow;
	margin-top: 17vh;
}
#L3_board {
	grid-column: 1/2;
	grid-row: 2/5;
	background-color: #FFC85C;
	margin-top: 10vh;
}
#L4_sign {
	grid-column: 1/2;
	grid-row: 1/3;
	background-color: blue;
	margin-top: 24vh;
}
#L4_board {
	grid-column: 1/2;
	grid-row: 2/5;
	background-color: #FFC85C;
	margin-top: 10vh;
}
#R1_sign {
	grid-column: 2/3;
	grid-row: 1/3;
	background-color: blue;
	margin-left: -0.5%;
	margin-top: 3vh;
}
#R1_board {
	grid-column: 2/3;
	grid-row: 2/5;
	background-color: #FFC85C;
	margin-left: -0.5%;
	margin-top: 10vh;
}
#R2_sign {
	grid-column: 2/3;
	grid-row: 1/3;
	background-color: yellow;
	margin-left: -0.5%;
	margin-top: 10vh;
}
#R2_board {
	grid-column: 2/3;
	grid-row: 2/5;
	background-color: #FFC85C;
	margin-left: -0.5%;
	margin-top: 10vh;
}
#R3_sign {
	grid-column: 2/3;
	grid-row: 1/3;
	background-color: blue;
	margin-left: -0.5%;
	margin-top: 17vh;
}
#R3_board {
	grid-column: 2/3;
	grid-row: 2/5;
	background-color: #FFC85C;
	margin-left: -0.5%;
	margin-top: 10vh;
}
#R4_sign {
	grid-column: 2/3;
	grid-row: 1/3;
	background-color: yellow;
	margin-left: -0.5%;
	margin-top: 24vh;
}
#R4_board {
	grid-column: 2/3;
	grid-row: 2/5;
	background-color: #FFC85C;
	margin-left: -0.5%;
	margin-top: 10vh;
}
#side_bar {
	grid-column: 3/4;
	grid-row: 1/5;
	background-color: grey;
}

#writing_form_trigger {
	grid-column: 3/4;
	grid-row: 3/5;
	background-color: orange;
	width: 80%;
	height: 30vh;
	margin-left: 10%;
	margin-top: 17vh;
	text-align: center;

}

#writing_form_closer {
	width: 10%;
	background-color: white;
	text-align: center;
	margin-top: 2vh;
}
#writing_form {
	position: absolute;
	height: 60vh;
	width: 40%;
	top: 50px;
	left: 50px;
	border: solid 2px;
	background-color: grey;
	display: none;
}



#calendar_button {
	grid-column: 3/4;
	grid-row: 2/3;
	background-color: purple;
	margin-top: 16vh;
	margin-left: 10%;
	margin-right: 10%;
	height: 5vh;
	text-align: center;
}


#calendar_board {
	grid-column: 2/3;
	grid-row: 1/3;
	width: 80%;

	display: grid;
	grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
	grid-template-rows: 14% 14% 14% 14% 14% 14%;
	align-content: center;
	justify-content: center;
	visibility: hidden;
}

.calendar_cards_box {
	width: 90%;
	height: 80%;
	color: white;
	font-size: 8mm;
	align-self: center;
	justify-self: center;

	text-align: center;
}

.calendar_cards {
	height: 100%;
	background-color: purple;
}

