@font-face {
	font-family: 'system';
	src: url('./fonts/IBMPlexSansKR-Text.ttf');
}
@font-face {
	font-family: 'general';
	src: url('./fonts/SDMiSaeng.ttf');
}
@font-face {
	font-family: 'catchphrase';
	src: url('./fonts/Eulyoo1945-Regular.ttf');
}
@font-face {
    font-family: 'logo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSSummer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	margin: 0;
	padding: 0;
}

#logo {
	font-family: 'logo';
	font-size: 30px;
	text-decoration: overline;
	position: absolute;
	left: 91%;
	top: 90%;
}

#logout_button {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94%;
	top: 5%;
	background-color: transparent;
	border: solid 1px #59886B;
	border-radius: 20px;
	font-size: 15px;
	color: #59886B;
	cursor: pointer;
}


#keyboard_shortcut_help {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94.2%;
	top: 42%;
	background-color: transparent;
	border: none;
	font-size: 15px;
	color: #59886B;
	text-decoration: underline;
}
#keyboard_shortcut_help_result {
	z-index: 9999;
	position: absolute;
	left: 10%;
	top: 10vh;
	width: 70%;
	height: 80vh;
	background-color: green;
	color: white;
	font-size: 40px;
	text-align: center;
	display: none;
}

#go_home {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94%;
	top: 37%;
	background-color: #59886B;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: white;
	cursor: pointer;
}






#window {
	display: grid;
	grid-template-columns: 35% 25% 5% 25% 10%;
	grid-template-rows: 25vh 25vh 25vh 25vh;
	user-select: none;
}

#answer_board {
	background-color: transparent;
	width: 50%;
	height: 45%;

	position: absolute;
	bottom: 3%;
	left: 35%;
}
#answer_board > div {
	font-family: 'general';
	font-size: 50px;

}
#answer_board_title {
	margin-bottom: 3%;
	padding-left: 3%;
	color: #59886B;
}
#refresh_button > a {
	position: absolute;
	top: 2%;
	right: 2%;
	color: #59886B;
	text-decoration: none;
}
#pickup_questions {
	background-color: rgba(89, 136, 107, 0.2);
	color: #59886B;
	padding-left: 3%;
}
#pickup_questions > div {
	font-size: 40px;
}


#calendar_board {
	grid-column: 1/2;
	grid-row: 3/5;
	width: 80%;
	margin-left: 5%;

	display: grid;
	grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
	grid-template-rows: 16% 16% 16% 16% 16% 16%;
	align-content: center;
	justify-content: center;
}

.calendar_cards {
	background-color: #59886B;
	width: 90%;
	height: 90%;
	color: white;
	font-size: 7mm;
	align-self: center;
	justify-self: center;

	text-align: center;
}

.filled_cards {
	cursor: pointer;
}
.empty_cards {
	visibility: hidden;
}

#how_many_left {
	position: absolute;
	font-size: 20px;
	right: 1%;
	bottom: 1%;
	z-index: 100;
	display: none;
}
#left {
	background-color: white;
	border: none;
	font-family: 'general';
	font-size: 35px;
	text-align: center;
	color: grey;
	position: absolute;
	width: 50%;
	height: 100%;
	cursor: pointer;
	transition: 0.5s;

	display:none;
}
#left:active {
	margin: 30px 50px 0px 0px;
	transition: 0.1s;
}

#left_question {
	margin-top: 10%;
}
#left_content {
	margin-top: 5%;
	text-align: start;
	padding-left: 10%;
	padding-right: 10%;
}
#right {
	background-color: white;
	border: none;
	font-family: 'general';
	font-size: 35px;
	text-align: center;
	color: grey;
	position: absolute;
	width: 50%;
	height: 100%;
	left: 50%;
	cursor: pointer;
	transition: 0.5s;

	display:none;
}
#right:active {
	margin: 30px 50px 0px 0px;
	transition: 0.1s;
}
#right_question {
	margin-top: 10%;
}
#right_content {
	margin-top: 5%;
	text-align: start;
	padding-left: 10%;
	padding-right: 10%;
}

#start_button {
	font-family: 'general';
	text-align: center;
	background-color: rgba(89, 136, 107, 0.2);
	border: solid 10px #59886B;
	border-radius: 30px;
	height: 17%;
	width: 23%;
	position: absolute;
	left: 35%;
	top: 12%;
	cursor: pointer;
}
#sub_word {
	font-size: 40px;
}
#main_word {
	font-size: 70px;
}
#go_write_button {
	font-family: 'general';
	text-align: center;
	background-color: rgba(89, 136, 107, 0.2);
	border: solid 10px #59886B;
	border-radius: 30px;
	height: 17%;
	width: 23%;
	position: absolute;
	left: 60%;
	top: 12%;
	opacity: 0.2;
	cursor: pointer;
	z-index: -1;
}
#go_sub_word {
	font-size: 40px;
}
#go_main_word {
	font-size: 70px;
}

#read {
	width: 1000px;
	min-height: 800px;
	position: absolute;
	left: 35%;
	top: 50px;
	font-family: 'general';
	border: solid 3px #59886B;
	background-color: white;
	padding: 50px 50px 50px 50px;
	word-break: break-all;
	white-space: pre-wrap;
	display:none;
}
#read_question {
	font-size: 35px;
	text-shadow: 5px 5px 10px #59886B;
}
#read_content {
	font-size: 30px;
}

#how_many_question_left {
	position: absolute;
	top: 20%;
	left: 13%;
	font-family: 'general';
	font-size: 50px;
	color: #59886B;
}
