@font-face {
	font-family: 'system';
	src: url('./fonts/IBMPlexSansKR-Text.ttf');
}
@font-face {
	font-family: 'general';
	src: url('./fonts/SDMiSaeng.ttf');
}
@font-face {
	font-family: 'catchphrase';
	src: url('./fonts/Eulyoo1945-Regular.ttf');
}
@font-face {
    font-family: 'logo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSSummer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'general';
}
pre {
	font-family: 'general';
}

#logo {
	font-family: 'logo';
	font-size: 30px;
	text-decoration: overline;
	position: fixed;
	left: 91%;
	top: 90%;
}

#logout_button {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94%;
	top: 5%;
	background-color: transparent;
	border: solid 1px #59886B;
	border-radius: 20px;
	font-size: 15px;
	color: #59886B;
	cursor: pointer;
}

#today_button {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94%;
	top: 13%;
	background-color: #59886B;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

#search_input {
	width: 9%;
	height: 4%;
	position: absolute;
	left: 90%;
	top: 18%;
	background-color: transparent;
	border: solid 2px #59886B;
	border-radius: 20px;
	font-size: 18px;
	padding-left: 0.4%;
}

#search_button {
	width: 3%;
	height: 4%;
	position: absolute;
	left: 96%;
	top: 18%;
	background-color: #59886B;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: white;
	cursor: not-allowed;
}

#keyboard_shortcut_help {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94.2%;
	top: 42%;
	background-color: transparent;
	border: none;
	font-size: 15px;
	color: #59886B;
	text-decoration: underline;
}

#keyboard_shortcut_help_result {
	z-index: 9999;
	position: absolute;
	left: 10%;
	top: 10vh;
	width: 70%;
	height: 80vh;
	background-color: green;
	color: white;
	font-size: 40px;
	text-align: center;
	display: none;
}

#go_home {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 94%;
	top: 37%;
	background-color: #59886B;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: white;
	cursor: pointer;
}


#focus_index {
	position: absolute;
	top: 3%;
	left: 5%;
	height: 18%;
	width: 70%;
	font-size: 90px;
	color: #59886B;

}
#focus_year_index {
	position: absolute;
	top: 25%;
	left: 3%;

}
#focus_month_index {
	position: absolute;
	top: 25%;
	left: 18%;
}
#move_date_button {
	width: 5%;
	height: 4%;
	position: absolute;
	left: 24%;
	top: 11%;
	background-color: #59886B;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

.move_buttons {
	width: 5%;
	height: 7%;
	position: absolute;
	background-color: transparent;
	border: none;
	font-size: 60px;
	color: #59886B;
	cursor: pointer;
	opacity: 0.3;
}
#year_up {
	left: 9%;
	top: 1%;
}
#year_down {
	left: 9%;
	top: 15%;
}
#month_up {
	left: 17%;
	top: 1%;
}
#month_down {
	left: 17%;
	top: 15%;
}




#diary {
	position: absolute;
	top: 23%;
	left: 5%;
	width: 75%;
	background-color: transparent;
	word-break: break-all;
	white-space: pre-wrap;
	font-family: 'general';
	font-size: 30px;
	border: none;
}
.new_coment {
	margin: 1% 5%;
	padding: 4% 10% 4% 10%;
	word-break: break-all;
	white-space: pre-wrap;
	background-color: rgba(89, 136, 107, 0.2);
	border-radius: 10px;
}
.pickup_content {
	background-color: rgba(89, 136, 107, 0.1);
	border-radius: 30px;
	margin: 2% 14% 2% 14%;
	padding: 1% 2%;
	color: #515f69;
	word-break: break-all;
	white-space: pre-wrap;
	border-radius: 10px;
}
.pickup_question {
	margin-left: 16%;
	color: #515f69;
	word-break: break-all;
	white-space: pre-wrap;
	border-radius: 10px;
}
.pickup_coment {
	text-shadow: 3px 3px 10px #59886B;
	margin-top: 2%;
	margin-left: 16%;
	word-break: break-all;
	white-space: pre-wrap;
	border-radius: 10px;
}
.top_spacer {
	border-bottom: 3px solid #59886B;
	margin: 5% 14% 5% 14%;
}
.bottom_spacer {
	border-bottom: 3px solid #59886B;
	margin: 5% 14% 5% 14%;
}
#start_spacer {
	margin-top: 100px;
	margin-left: 5%;
	margin-bottom: 100px;
	padding-bottom: 30px;
	color: #59886B;
	font-size: 40px;
}
#end_spacer {
	margin-top: 200px;
	margin-bottom: 100px;
	text-align: center;
	color: #59886B;
	font-size: 50px;
	padding-top: 30px;
}






#navigator {
	display: none;
}

#monthly_candi {
	display: none;
	width: 50%; 
	position: absolute;
	top: 7%;
	left: 35%;
}

#monthly_candi > button {
	font-family: 'general';
	font-size: 35px;
	width: 12%;
	margin: 1% 1% 1% 1%;
}
