body {
	margin: 0;
	padding: 0;
}

#create_empty {
	position: absolute;
	top: 70%;
	left: 5%;
	width: 10%;
	height: 5%;
	background-color: yellow;
	text-align: center;
}

#pickup_list_container {
	position: absolute;
	top: 10%;
	left: 5%;
	font-size: 30px;
}
#pickup_list_container > div {
	margin-top: 20px;
}

#writing_board {
	position: absolute;
	top: 10%;
	left: 60%;
}
#writing_board_submit {
	position: absolute;
	top: 70%;
	left: 15%;
	font-size: 30;
}
