<form action="" method="post">
    <input type="password" name="password" placeholder="비밀 번호"> <br>
    <input type="password" name="password_check" placeholder="비밀번호 확인"> <br>
    <input type="text" name="nickname" placeholder="닉네임">
    <div>
        <input type="radio" id="M" name="sex" value="M">
        <label for="M">M</label>
        <input type="radio" id="F" name="sex" value="F">
        <label for="F">F</label>
    </div>
	<input type="text" name="address" placeholder="주소"><br>
    <input type="date" name="birthdate" placeholder="생일"><br><br>
    <input type="submit">
</form>


<form action="/user/delete" method="post">
	<input id="delete_button" type="submit" value="delete account">
</form>

<a href="/">
cancel
</a>



<style>
#delete_button {
	background-color: red;
	color: white;
}

</style>
