<% for(var i=0; i<=7*6; i++){ %>

<% if(index[4] <= i && i-index[4]+1 <= index[5]){ %>

<div class="calendar_cards filled_cards" id="calendar_card_<%= i-index[4]+1 %>">
<%= i-index[4]+1; %>
</div>

<% }else{ %>

<div class="calendar_cards empty_cards" id="">
</div>

<% } %>
<% } %>
