<button type="button" class="remote_con" id="move_up">▼</button>
<button type="button" class="remote_con" id="move_down">▲</button>
<button type="button" class="remote_con" id="move_left">▶</button>
<button type="button" class="remote_con" id="move_right">◀</button>
<button type="button" class="remote_con" id="today_button">오늘</button>
