<div class="zac" id="writing_board_wrapper">

<button type="button" id="start_writing_button">오늘의 생각 쓰기</button>

<div class="zac" id="writing_board_background"></div>
<form id="daily_diary" action="/diary/daily/post/<%= user_id %>" method="post">
	<input type='hidden' name='writing_datetime' id='writing_datetime'>
	<textarea class="zac" id="paragraph_content" name="content" rows="4" placeholder="오늘 했던 크고 작은 생각들"></textarea>
	<textarea class="zac" id="paragraph_title" name="question" rows="2" placeholder="생각에 대한 생각, 한줄 평"></textarea>
</form>
<button type="button" id="enlarge_button">확대</button>
<button class="zac" type="button" id="cancel_button">취소</button>
<button class="zac" type="submit" id="post_diary_button">등록하기</button>

<button type="button" id="enlarged_decrease_button">축소</button>


</div>
