<div class="diary_start" id="L1_start"></div>
<div class="diary_board" id="L1_board"></div>
<div class="diary_start" id="L2_start"></div>
<div class="diary_board" id="L2_board"></div>
<div class="diary_start" id="L3_start"></div>
<div class="diary_board" id="L3_board"></div>
<div class="diary_start" id="L4_start"></div>
<div class="diary_board" id="L4_board"></div>


<div class="diary_start" id="R1_start"></div>
<div class="diary_board" id="R1_board"></div>
<div class="diary_start" id="R2_start"></div>
<div class="diary_board" id="R2_board"></div>
<div class="diary_start" id="R3_start"></div>
<div class="diary_board" id="R3_board"></div>
<div class="diary_start" id="R4_start"></div>
<div class="diary_board" id="R4_board"></div>


<style>

.diary_start {
	position: absolute;
	background-color: #59886B;
	width: 1%;
	height: 21%;
}
.diary_board {
	position: absolute;
	background-color: #59886B;
	opacity: 20%;
	width: 40%;
	height: 21%;
}


#L1_start {
	top: 3%;
	left: 3%;
}
#L2_start {
	top: 27%;
	left: 3%;
}
#L3_start {
	top: 51%;
	left: 3%;
}
#L4_start {
	top: 75%;
	left: 3%;
}
#L1_board {
	top: 3%;
	left: 3%;
}
#L2_board {
	top: 27%;
	left: 3%;
}
#L3_board {
	top: 51%;
	left: 3%;
}
#L4_board {
	top: 75%;
	left: 3%;
}

#R1_start {
	top: 3%;
	left: 46%;
}
#R2_start {
	top: 27%;
	left: 46%;
}
#R3_start {
	top: 51%;
	left: 46%;
}
#R4_start {
	top: 75%;
	left: 46%;
}
#R1_board {
	top: 3%;
	left: 46%;
}
#R2_board {
	top: 27%;
	left: 46%;
}
#R3_board {
	top: 51%;
	left: 46%;
}
#R4_board {
	top: 75%;
	left: 46%;
}

</style>
