<div class="zac" id="writing_board_wrapper">

<button type="button" id="start_writing_button">오늘의 생각 쓰기</button>

<div class="zac" id="writing_board_background"></div>
<form id="daily_diary" action="/diary/daily/post/<%= user_id %>" method="post">
	<textarea class="zac" id="paragraph_title" name="question" rows="2" placeholder="오늘의 나에게 하는 질문"></textarea>
	<textarea class="zac" id="paragraph_content" name="content" rows="4" placeholder="어떻게 그런 질문을 하게 되었나요?"></textarea>
</form>
<button type="button" id="enlarge_button">확대</button>
<button class="zac" type="button" id="cancel_button">취소</button>
<button class="zac" type="submit" id="post_diary_button">등록하기</button>

<button type="button" id="enlarged_decrease_button">축소</button>


</div>
