<form id="writing_form" action="/diary/daily/post/<%= user_id %>" method="post">
	<div>today's Question</div>
	<textarea id="Question" name="question" cols="50" rows="5"></textarea>
	<div>today's comment</div>
	<textarea name="content" cols="50" rows="20"></textarea>

    <div>
        <input type="radio" id="5" name="score" value="5">
        <label for="5">5</label>
        <input type="radio" id="4" name="score" value="4">
        <label for="4">4</label>
        <input type="radio" id="3" name="score" value="3">
        <label for="3">3</label>
        <input type="radio" id="2" name="score" value="2">
        <label for="2">2</label>
        <input type="radio" id="1" name="score" value="1">
        <label for="1">1</label>
    </div>
	
	<input type="hidden" name="user_id" value=<%= user_id %>>
	<input type="submit" value="submit">
</form>
