<!-- log out --!>
<form action="/user/logout" method="post">
	<input type="submit" value="log out">
</form>




<!-- setting --!>
<form action="/user/setting/<%= user_id %>" method="get">
	<input type="submit" value="setting">
</form>





<!-- daily_diary --!>
<form action="/diary/daily/<%= user_id %>?year=<%= index_year %>&month=<%= index_month %>&date=<%= index_date %>" method="post">
	<input type="submit" value="D diary read&write">
</form>






<!-- monthly_diary_read --!>
<form action="" method="post">
	<input type="submit" value="M diary read">
</form>
<!-- monthly_diary_write (aka. pickup_game) --!>
<form action="/diary/pickup_game_monthly/<%= user_id %>?year=<%= index_year %>&month=<%= index_month %>&date=<%= index_date %>" method="post">
	<input type="submit" value="M diary write">
</form>





<!-- annual_diary_read --!>
<form action="" method="post">
	<input type="submit" value="A diary read">
</form>
<!-- annual_diary_wrtie --!>
<form action="" method="post">
	<input type="submit" value="A diary write">
</form>





<!-- generate_dummyData --!>
<form action="/diary/gen/<%= user_id %>" method="post">
	<input type="submit" value="dummy data generate">
</form>
