<div id="section_indicator"></div>
<div class="sub_indicators" id="sub_indicator_1"></div>
<div class="sub_indicators" id="sub_indicator_2"></div>
<div class="sub_indicators" id="sub_indicator_3"></div>
<div class="sub_indicators" id="sub_indicator_4"></div>
<div class="sub_indicators" id="sub_indicator_5"></div>


<div class="section_selectors after_login" id="section_selector_1"></div>
<div class="section_selectors after_login" id="section_selector_2"></div>
<div class="section_selectors after_login" id="section_selector_3"></div>


<div class="sub_selectors after_login" id="sub_selector_1"></div>
<div class="sub_selectors after_login" id="sub_selector_2"></div>
<div class="sub_selectors after_login" id="sub_selector_3"></div>
<div class="sub_selectors after_login" id="sub_selector_4"></div>
<div class="sub_selectors after_login" id="sub_selector_5"></div>


