<div id="temperal">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<span>업데이트 중...</span>
</div>

<style>

#temperal {
	width: 23%;
	height: 70%;
	position: absolute;
	top: 15%;
	left: 65.5%;
	z-index: 5;
	text-align: center;
	background-color: white;
}
#temperal:hover {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQoU2NkIBIwEqmOAa9CxxURM/dHrEgHGYZTIbIinArRFWFViE0RhkJcilAU4lOE1zPowUZ0OAIAD/YYC5LFfrUAAAAASUVORK5CYII=) repeat;
	background-color: white;
}

#temperal > span {
	padding-top: 100px;
	color: green;
	font-size: 50px;
}
</style>

