<%# 
사이트 운영자는 개발자가 아닐 수 있다. 운영자의 전용 페이지를 만들어 줄 필요가 있다.
%>

<head>
	<link rel="stylesheet" href="/css/user_feedback.css">
</head>

<div id='feedback_notice_board'>
	<h4>
	업데이트 내용
	</h4>
	<div class='noticed_msg'>
		3) 버그신고 내용의 글자수가 63자 이상일 경우 신고 접수되지 않던 문제 >> 아무리 길어도 접수되게 조치했습니다. 그동안 신고하신 것 중 누락된 것이 있었을수도 있는데... 죄송합니다.
		<br>
		4) 밤 12시 이전에 쓰기 시작한 일기를 자정 넘겨 마친 경우 다음날 쓴 일기로 분류되던 문제 >> 쓰기 시작한 시점의 날로 저장됩니다. 지금 생각해보니 자정이 조금 지나서 쓰기 시작한 일기는 여전히 다음날 쓴 일기처럼 저장되는 문제가 있네요... 퇴근하고 업데이트 하겠습니다.
	</div>
</div>



<div id='not-now'>
	1) 일기 작성 중 [쉬프트키]  + [방향키] 로 작성한 글자들 선택하려 할 때 페이지가 이동해버리던 문제 >> 페이지 이동하지 않도록 조치했습니다.
	<br>
	2) 일기작성 버튼의 윗부분은 클릭해도 반응하지 않던 문제 >> 반응하도록 조치했습니다.
	<br>
</div>


<style>
#not-now {
display: none;
}
</style>
