<%# 
사이트 운영자는 개발자가 아닐 수 있다. 운영자의 전용 페이지를 만들어 줄 필요가 있다.
%>

<head>
	<link rel="stylesheet" href="/css/user_feedback.css">
</head>

<div id='feedback_notice_board'>
	<h4>
	업데이트 내용
	</h4>
	<div class='noticed_msg'>
		- 일기 작성 중 [쉬프트키]  + [방향키] 로 작성한 글자들 선택하려 할 때 페이지가 이동해버리던 문제 >> 페이지 이동하지 않도록 조치했습니다.
	</div>
	<div class='noticed_msg'>
		- 일기작성 버튼의 윗부분은 클릭해도 반응하지 않던 문제 >> 반응하도록 조치했습니다.
	</div>
	<br>
	<div class='noticed_msg'>
	(신고해주셔서 고마워요!)
	</div>
</div>



