<%# 
사이트 운영자는 개발자가 아닐 수 있다. 운영자의 전용 페이지를 만들어 줄 필요가 있다.
%>

<head>
	<link rel="stylesheet" href="/css/user_feedback.css">
</head>

<div id='feedback_notice_board'>
	<h1>
	업데이트 알림
	</h1>
	<div class='noticed_msg'>
	헐 시간이 벌써 이렇게 됐네요... 못난 디자인고 함께 고생하셨습니다.<br><br>
	
	</div>
	<div id='quit'>
	클릭해서 끄기
	</div>
</div>



<div id='not-now'>
	1) 일기 작성 중 [쉬프트키]  + [방향키] 로 작성한 글자들 선택하려 할 때 페이지가 이동해버리던 문제 >> 페이지 이동하지 않도록 조치했습니다.
	<br>
	2) 일기작성 버튼의 윗부분은 클릭해도 반응하지 않던 문제 >> 반응하도록 조치했습니다.
	<br>
	3) 버그신고 내용의 글자수가 63자 이상일 경우 신고 접수되지 않던 문제 >> 아무리 길어도 접수되게 조치했습니다. 그동안 신고하신 것 중 누락된 것이 있었을수도 있는데... 죄송합니다.
	<br>
	4) 밤 12시 이전에 쓰기 시작한 일기를 자정 넘겨 마친 경우 다음날 쓴 일기로 분류되던 문제 >> 쓰기 시작한 시점의 날로 저장됩니다. 지금 생각해보니 자정이 조금 지나서 쓰기 시작한 일기는 여전히 다음날 쓴 일기처럼 저장되는 문제가 있네요... 퇴근하고 업데이트 하겠습니다.
	5) 자정을 넘겨서 일기 쓰기 시작하면 다음날 쓴 일기로 저장되던 문제 >> 해결 했습니다. 작성일을 구분하는 기준은 새벽 3시 59분 까지 넉넉하게 드립니다만, 일찍 자는게 더 중요한 일인 것 같습니다.
	6)* 11월 월간일기 작성기간을 12/12(일) 까지 연장합니다. 이때 11월에 작성한 일간일기가 정상적으로 불러와집니다.
</div>


<style>
</style>

<script type="text/javascript" src="/js/update_notice.js"></script>
