<head>
	<link rel="stylesheet" href="/css/monthly.css">
</head>


<div id="window">
	<div id='calendar_board'>
	<%- include('../diary/parts_monthly/calendar.ejs') %>
	</div>

	<div id='left'>
		<div id='left_question'>
		</div>
		<div id='left_content'>
		</div>
	</div>
	<div id='right'>
		<div id='right_question'>
		</div>
		<div id='right_content'>
		</div>
	</div>
	<div id='read'>
		<div id='read_question'>
		</div>
		<div id='read_content'>
		</div>
	</div>
</div>


<script>
const index = <%= JSON.stringify(index) %>;
const calendar_data = <%- JSON.stringify(calendar_data) %>;
</script>

<script type="text/javascript" src="/js/monthly/alias.js"></script>
<script type="text/javascript" src="/js/monthly/test.js"></script>
<script type="text/javascript" src="/js/monthly/public_event.js"></script>
