<head>
	<link rel="stylesheet" href="/css/write_monthly.css">
</head>

<form id="writing_board" action="/diary/monthly/post" method="post">
</form>
<input id="writing_board_submit" type="submit" value="submit">

<div id="add_more">
add_more	
</div>

<div id="pickup_list_container">
	<% for(var i=0; i<pickup_list.length; i++){ %>
	<div id="question<%= i %>">
	<%= pickup_list[i][0].question %>
	</div>
	<% } %>
</div>

<script>
const index = <%= JSON.stringify(index) %>;
const pickup_list = <%- JSON.stringify(pickup_list) %>;
</script>

<script type="text/javascript" src="/js/monthly/write_monthly.js"></script>
