<head>
	<link rel="stylesheet" href="/css/write_monthly.css">
</head>

<form id="writing_board" action="/diary/monthly/post/<%= user.id %>" method="post">



</form>

<div id="create_empty">
	create_empty
</div>




<script type="text/javascript" src="/js/monthly/write_diary.js"></script>



	<div>today's Question</div>
	<textarea id="Question" name="question" cols="50" rows="5"></textarea>
	<div>today's comment</div>
	<textarea name="content" cols="50" rows="20"></textarea>
