<head>
	<link rel="stylesheet" href="/css/betatest_survey1.css">
</head>
<body>
	<div id='background'></div>

	<div id="title">
	베타테스터 설문조사(1차)
	</div>

	<form action="/report/betatest_survey" method="post" id="survey_form">
		<div class='page'>
		<div id='question1' class='questions'>Q. 일기란 무엇인가요? (글자 수 제한 : 250자)</div>
		<textarea id='answer1' name='a1' placeholder="안녕하세요. 이것은 250글자로 얼만큼 쓸 수 있는지 보여드리기 위해 쓰는 예시입니다. 이 기회를 틈타 홍보나 한번 해 보겠습니다.

제가 얼마 전에 벌새라는 이름으로 사업자를 냈습니다. 여기는 인터뷰집을 만들어 드리는 곳이에요. 제가 손님(들)을 인터뷰합니다. 원하는 주제가 있다면 그것으로, 아니라면 '현재의 나(=손님)는 어떤 사람인지, 어떻게 나아가고 싶은지' 짚어보는 적절한 질문들을 해 드리는거죠.

베타테스터 여러분이 찾아와 주신다면 "></textarea>
		<div id=''>작성한 글자 수</div>
		<div id='show_length'>0</div>
		</div>

		<div class='page'>
		<div id='question2' class='questions'>Q. 일기 쓰기는 갈수록 쉬워졌나요, 힘들어졌나요?</div>
		<input type='hidden' id='answer2' name='a2' value=''>
		<div class='answer2'>1. 쉬워졌다</div>
		<div class='answer2'>2. 힘들어졌다</div>
		<div class='answer2'>3. 그냥 똑같다</div>
		</div>

		<div class='page'>
		<div id='question3' class='questions'>Q. 일기 쓰기는 득실을 종합적으로 따져 봤을 때, </div>
		<input type='hidden' id='answer3' name='a3' value=''>
		<div class='answer3'>1. 꾸준히 쓸 만한 가치가 있고 그렇게 하고 싶다</div>
		<div class='answer3'>2. 특별한 날이라면 써볼 만 하다</div>
		<div class='answer3'>3. 좋은 점은 있지만 쓰지 않게 되는 이유가 더 강했다</div>
		<div class='answer3'>4. 힘들고 시간만 쓰지 얻을게 있는지 모르겠다</div>
		</div>

		<div class='page'>
		<div class='question4' class='questions'>Q. 꾸준히 써서 얻을 수 있는 것은 무엇이었나요?</div>
		<div class='question4' class='questions'>Q. 일기를 써서 얻을 수 있는 것은 무엇이었나요?</div>
		<div class='question4' class='questions'>Q. 좋은 점은 무엇이었나요?</div>
		<div class='question4' class='questions'>시무룩 짤</div>
		<textarea id='answer4' name='a4'></textarea>
		</div>

		<div class='page'>
		<div id='question5' class='questions'>Q. 무엇이 일기 쓰기를 힘들고, 어렵게 만들었나요? 생각나는 대로 모두 적어주세요.</div>
		<input type='hidden' id='answer5' name='a5' value=''>
		<div id='answer5_srcA_label'>1. 힘들게 만든 요소</div>
		<textarea id='answer5_src_hard'></textarea>
		<div id='answer5_srcB_label'>2. 어렵게 만든 요소</div>
		<textarea id='answer5_src_diffi'></textarea>
		<div id='question5_next_button'>DO SUM</div>
		</div>

		<div class='page'>
		<div id='question6' class='questions'>Q. 일기에 쓴 내용은,</div>
		<input type='hidden' id='answer6' name='a6' value=''>
		<div class='answer6'>1. 사실 위주였다></div>
		<div class='answer6'>2. 느낌이나 생각, 마음 위주였다</div>
		</div>

		<div class='page'>
		<div id='question7' class='questions'>Q. 일기는,</div>
		<input type='hidden' id='answer7' name='a7' value=''>
		<div class='answer7'>1. 기록에 의미가 있다</div>
		<div class='answer7'>2. 사고*에 의미가 있다(*생각하고 궁리함)</div>
		</div>

		<div class='page'>
		<div id='question8' class='questions'>Q. 일기 쓰기를 통해 스스로에 대해 좀 더 알게 되었나요?(쓰지 않던 때에 비하여)</div>
		<input type='hidden' id='answer8' name='a8' value=''>
		<div class='answer8'>1. 그렇다</div>
		<div class='answer8'>2. 그런 면이 없진 않지만 너무 미약하다</div>
		<div class='answer8'>3. 일기 쓰기와는 상관이 없는 것 같다</div>
		</div>
	</form>
 
	<div id='next'>다음</div>
	<div id='before'>이전</div>
	<div id='send_survey'>완료</div>
</body>

<script type="text/javascript" src="/js/betatest_survey1.js"></script>
